body,table,table.tablesorter
{
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size:84%;
}
body, input[type=text]
{
    background-color: #302c28;
    color: #EEEEEE;
}

h1,.footer{text-align:center;}

a{color:#FFBB00;}
a:hover{color: #FF9900;}
a:visited{color: #FFBB00;}
img{border:0;}
table
{
    border-collapse:collapse;
}
table td,table th{border:solid 1px  #555555;}
table th{background-color:#3f3934;}
table th{padding:15px;}
table td{padding:5px; color:#EEEEEE;}
table img{border: solid 1px #000000;}
.highlight td{color: #ffba00}
.footer
{
    margin-top:20px;
    color: #a0a0a0;
    font-size:small;
}


table.tablesorter {
        /*font-family:arial;
        margin:10px 0pt 15px;
        font-size: 8pt;*/
		margin:0 auto;
        width: 100%;
        text-align: center;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        border: 1px solid #FFF;
        padding: 4px;
}
table.tablesorter thead tr .header {
		padding:10px;
		padding-right:25px;
        background-image: url(images/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}
table.tablesorter tbody tr.odd td {
        background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
		padding-right:25px;
        background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
		padding-right:25px;
        background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #FFFFFF;}
.error{
	font-weight:bold;
	background-color:#e51d14;
	color:#EEEEEE;
	padding:5px;
}
.dlgbox
{
	
}

#filter-panel{padding:10px 0px 10px 0px;}

#filter-panel .filter-form
{
	background-color:#3F3934;
	padding:1em;
	line-height:3em;
}
#filter-panel .selected
{
        background-color:#3A3A3A;
        color: #ffffff;
        font-weight:bold;
}

#filter-panel form
{
	display:inline;
}
#pagebar a
{
	border:1px solid #BBBBBB;
	/*background-color:#E5E5E5;*/
	padding:0.25em;
	margin-right:0.25em;
	line-height:2.5em;
	font-weight:bold;
	text-decoration:none;
}

#pagebar a:hover
{
	background-color:#E5E5E5;
}

#pagebar .selected
{
	background-color:#3A3A3A;
	color: #ffffff;
	font-weight:bold;
}


