
body{
	margin-top:0px;
	background:#666666 url('images/background.jpg');
}

body, table{
	font-family: Arial, Sans-serif;
	font-size:84%;
	color:#ffffff;
}

a:link, a:visited{color:#ffffff;}
img{border:0;}

#container{
	width:1024px; 
	margin:auto;
}

#header{
	margin-bottom:5px;
	padding:5px;
}

.box{
	padding:10px;
	overflow:auto;
	margin-bottom:5px;
	border: ridge #262626 6px;
	-moz-border-radius: 8px;
	background:#474747 url('images/foreground.jpg');
}

#gameinfo table th{
	text-align:right;
	padding-right:5px;
}

#gametitle{
	font-weight:bold;
	font-size:1.6em;
	color:#F9F48C;
	text-shadow:#262626 1px 1px 1px;
	margin-left:10px;
}

.scoreboard table{
	margin:5px;
	width:100%;
}

.scoreboard table th{
	color:#F9F48C;
	font-weight:bold;
	text-shadow:#262626 1px 1px 1px;
	text-align:left;
}

.scoreboard table td{
	color:#ffffff;
}

.scoreboard a{text-decoration:none;}
.scoreboard a:hover{text-decoration:underline;}
.scoreboard a:link{color:#ffffff;}
.scoreboard a:visited{color:#ffffff;}

.team{
	width:400px;
	float:left;
	margin:10px;
}

.team_name{
	background-color:#262626;
	color:#F9F48C;
	font-weight:bold;
	font-size:1.4em;
	padding:5px;
	text-shadow:#262626 1px 1px 1px;
}

#team_good{
	background-color:#124BE3;
}

#team_evil{
	background-color:#B32C05;
}

.scoreboard .bot{
	color:#FFBED5 !important;
}

.errormsg{
	color: #FF8080;
	font-weight:bold;
	font-size:2em;
	text-shadow:#262626 1px 1px 1px;
	letter-spacing:0.1em;
	padding-left:80px;
	background:transparent url('images/sadface64.png') no-repeat;
	display:block;
	line-height:64px;
}

#footer{
	margin-top:20px;
	text-align:center;
	font-size:0.8em;
}

#footer .links ul{
	display:inline;
	margin:0px;
	padding:0px;
	list-style-type: none;
}

#footer .links ul li{
	display: inline;
	margin-right:10px;
}


#footer .links img{vertical-align:middle;}
#footer, #footer a{color:#B3B3B3;}
